<h2>how much do you want to bet ?!@</h2>
<p>player <%= session[:player_name]%> has $<%= session[:player_pot].to_i %></p>

<form action="/bet" method="post">
<input type="text" name="bet_amount" />
<br/>
<input type="submit" value="Make a Bet" class="btn btn-success"></form>